POSTGRES_DB=hogwarts
POSTGRES_USER=postgres
POSTGRES_HOST=haproxy
POSTGRES_PASSWORD=postgres
REPLICATION_PASSWORD=replpass
POSTGRES_PORT=5432

EXPORTER_USER=postgres
EXPORTER_PASSWORD=postgres

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

MIGRATION_VERSION=latest
APP_ENV=development
SEED_COUNT=10

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminpassword
MINIO_BACKUP_USER=backupuser
MINIO_BACKUP_PASSWORD=backuppassword
BUCKET_BACKUP_NAME=postgres-backups

BACKUP_INTERVAL=*/5 * * * *
BACKUP_RETENTION_COUNT=3

DBZ_USER=dbz_user
DBZ_PASSWORD=dbz_secure_password