defaults
    mode tcp
    timeout client 600s
    timeout connect 10s
    timeout server 600s
    timeout check 5s

listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 2s

frontend postgres
    bind *:5432
    default_backend postgres_nodes

backend postgres_nodes
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg1:5432 check port 8008
    server pg2 pg2:5432 check port 8008
